__pycache__/
*.py[cod]
*$py.class

venv/
env/
ENV/
.venv/
.ENV/

.ipynb_checkpoints/

.env
.env.*

*.h5
*.hdf5
*.pkl
*.joblib
*.pt
*.ckpt
*.onnx

dataset/
data/
*.csv
*.tsv
*.zip

*.log
logs/
output/
runs/

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

ehthumbs.db
Icon?
*.bak
*.tmp
*.swp
~$*

node_modules/

*.orig

build/
dist/
*.egg-info/
*.eggs/
*.wheel

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
